{% extends 'skeleton.html.twig' %}

{% block title %}Your source for the latest News!{% endblock %}
{% block heading %}<h2>Your source for the latest News!</h2>{% endblock %}

{% block main %}
    {% for category in categories %}
        <h3 title="{{ category.id }}">{{ category.name }}</h3>
        <ul>
        {% for news in news %}
            {% if news.category.id == category.id%}
            <li>
                <h4 title="{{ news.id }}">{{ news.headline }} ({{ news.date|date("m/d/Y H:M") }})</h4>
                <p>{{ news.body }}</p>
            </li>
            {% endif %}
        {% else %}
            <li>
                <b>no records found</b>
            </li>
        {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
